transformers~=4.52.4
peft~=0.15.2
trl~=0.18.2
accelerate~=1.7.0
torch~=2.7.1
--extra-index-url https://download.pytorch.org/whl/nightly/cpu
llama-cpp-python
tensorboard~=2.19.0
huggingface_hub[hf_transfer]~=0.33.0